/* здесь используйте глобальные селекторы img, body, html и так далее */
:root {
  --container-padding: 10%;

  --slider-color: 255, 255, 255;

  --active-opacity: 60%;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100%;

  font-family: $basic-font-family;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  font-weight: 00;
  color: #000000;

  background-color: #f2f2f2;
}
