// шрифты
@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src format("woff2");
  }
}

// псевдоэлемент
@mixin empty-content {
  content: "";
}

@mixin pseudo-element {
  @include empty-content;
  display: block;
}

// скрытый элемент
@mixin hidden-element {
  position: absolute;
  transform: scale(0);
}

@mixin revealed-element {
  position: relative;
  transform: scale(1);
}

// стабилизация изображения
@mixin image-stabilization {
  display: block;
  width: 100%;
  height: auto;
}

// Пункт субменю
@mixin sub-menu-appearance {
  padding: 10px;
  width: 180px;

  display: flex;
  flex-direction: column;
  transform: scaleY(1);

  top: 50px;
  left: 0;

  background-color: var(--company-dark-color);
  box-shadow: 1px 1px 10px rgb(19, 14, 68, 30%);
  border-radius: 0 $border-radius $border-radius $border-radius;
}

// Анимация "сердцебиение"
@mixin heartbeat-animation {
  @keyframes heartbeat {
    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.5);
    }
  }

  animation: heartbeat 1s infinite;
}
