/* глобальные переменные */
// Ширина экранов
$tablet-width: 768px;
$desktop-width: 1440px;

// Типографика
$basic-font-size: 14px;
$basic-line-height: 18px;

$basic-font-family: "Playpen-sans", "Comic Sans MS", sans-serif;


$border-radius: 15px;

$basic-black: #000000;
