.button {
  display: block;
  min-width: 40px;
  min-height: 20px;
  padding: 8px 10px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  border: 3px solid var(--company-dark-color);
  border-radius: var(--border-radius);
  background-color: var(--company-dark-color);
}
