.button {
  display: block;
  min-width: 40px;
  min-height: 20px;
  padding: 8px 10px;
  box-sizing: border-box;

  color: $company-dark-color;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: $basic-white;
  border: 2px solid $company-dark-color;
  border-radius: $button-border-radius;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}

.button-contrary {
  color: $basic-white;
  background-color: $company-dark-color;
  border: 2px solid $basic-white;
  outline: 2px solid $company-dark-color;

  &:hover {
    outline: none;
  }
}
