.catalog {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 20px;
}

.catalog-popular {
  background-color: rgba($company-light-color, 0.2);
}

.catalog-akcija {
  background-color: rgba($company-light-violet, 0.6);
}

.catalog__title {
  margin: 0 auto;

  font-size: 25px;
}

.catalog__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 20px;

  padding-bottom: 35px;

  overflow-x: auto;
}

.catalog__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  width: 310px;
  padding: 15px;
  box-sizing: border-box;

  flex-grow: 1;

  background-color: $basic-white;
  box-shadow: 4px 4px 8px 0 rgba($company-dark-color, 0.5);
}

// Фото товара
.catalog__card-image-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 260px;
  width: 260px;
}

.catalog__card-image-container {
  display: block;
  height: 100%;
  width: 260px;
}

.catalog__card-image {
  @include image-stabilization;
  height: 100%;
  object-fit: cover;

  border-radius: 5%;
}

// Название
.catalog__card-title {
  font-size: 22px;
}

// Описание и свойства
.catalog__card-properties {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 80%;
  row-gap: 30px;

  &--set {
    display: grid;
    margin-top: 0;
    flex-grow: 1;

    align-items: start;
    row-gap: 15px;
  }
}

.catalog__card-properties--set .catalog__card-properties-item--price {
  margin-top: auto;
}

.catalog__card-properties-item {
  display: flex;
  justify-content: space-between;

  font-size: 20px;
  line-height: 20px;

  &--set {
    flex-direction: column;
    align-items: center;
    gap: 10px;

    text-align: center;
  }
}

.catalog__card-properties-item--price {
  margin-top: auto;
}

.catalog__card-properties-item-value {
  &--set-discription {
    color: $sets-color;
  }
}


// Кнопки
.catalog__card-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.catalog__card-button {
  position: relative;
  width: 40px;
  height: 40px;

  background-image: var(--icon-background-image);
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  border: none;
  background-color: transparent;
  padding: 0;

  &::before {
    @include pseudo-element;
    width: 70px;
    height: 32px;
    padding: 8px 3px;

    position: absolute;
    top: -47px;
    left: 30px;

    color: $company-dark-color;
    text-align: center;

    opacity: 0;

    background-color: rgba($basic-white, 0.7);
    border: 2px solid $company-dark-color;
    border-radius: 15%;
  }

  &::after {
    @include pseudo-element;
    width: 40px;
    height: 40px;

    opacity: 0;

    background-color: $basic-white;
    border-radius: 50%;
  }

  &--favorite-add {
    --icon-background-image: url("../../images/icons/stack.svg#icon-wishlist");

    &::before {
      content: "Dodaj u listu želja";
    }
  }

  &--favorite-added {
    --icon-background-image: url("../../images/icons/stack.svg#icon-wishlist-added");

    &::before {
      content: "Dodato u listu želja";
    }
  }

  &--add-to-cart {
    --icon-background-image: url("../../images/icons/stack.svg#icon-cart");

    &::before {
      content: "Dodaj u korpu";
    }
  }

  &--added-to-cart {
    --icon-background-image: url("../../images/icons/stack.svg#icon-cart-added");

    &::before {
      content: "Obriši iz korpe";
    }
  }

  &:hover {
    &::after {
      opacity: calc(1 - $hover-opacity);
    }

    &::before {
      opacity: 1;
    }
  }

  &:active {
    &::after {
      opacity: calc(1 - $active-opacity);
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
