.catalog {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 20px;
}

.catalog-popular {
  background-color: rgba($company-light-color, 0.2);
}

.catalog__akcija {
  background-color: rgba($company-light-violet, 0.6);
}

.catalog__title {
  margin: 0 auto;

  font-size: 25px;
}

.catalog__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 20px;

  padding-bottom: 35px;

  overflow-x: auto;
}

.catalog__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  width: 310px;
  padding: 15px;
  box-sizing: border-box;

  background-color: $basic-white;
  box-shadow: 4px 4px 8px 0 rgba($company-dark-color, 0.5);
}

// Фото товара
.catalog__card-image-link {
  height: 260px;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog__card-image {
  @include image-stabilization;
  height: 100%;
  object-fit: cover;

  border-radius: 5%;
}
/* для того чтоб изображение растягивалось на всю поверхность */

// Название
.catalog__card-title {
  font-size: 22px;
}

// Описание и свойства
.catalog__card-properties {
  display: flex;
  flex-direction: column;
  width: 80%;
  row-gap: 30px;
}

.catalog__card-properties-item {
  display: flex;
  justify-content: space-between;

  font-size: 20px;
  line-height: 20px;

  &--set {
    flex-direction: column;
    align-items: center;
    gap: 10px;

    text-align: center;
  }
}

.catalog__card-properties-item-value {
  &--set-discription {
    color: $sets-color;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}


// Кнопки
.catalog__card-button-wrapper {
  display: flex;
  width: 100%;
  margin: auto 0 0;
  justify-content: space-evenly;

  align-self: flex-end; // не работает. надо чтоб работало
}

.catalog__card-button {
  width: 40px;
  height: 40px;

  background-image: var(--icon-background-image);
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  border: none;
  background-color: transparent;
  padding: 0;

  &--favorite-add {
    --icon-background-image: url("../../images/icons/stack.svg#icon-wishlist");
  }

  &--favorite-added {
    --icon-background-image: url("../../images/icons/stack.svg#icon-wishlist-added");
  }

  &--add-to-cart {
    --icon-background-image: url("../../images/icons/stack.svg#icon-cart");
    transform: scaleX(-1);
  }

  &--added-to-cart {
    --icon-background-image: url("../../images/icons/stack.svg#icon-cart-added");
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
