.catalog-favorite {
  gap: 40px;

  background-color: rgba(rgb(253, 212, 218), 0.6);
}

// .catalog-favorite__title {
//   display: flex;
//   align-items: center;
//   gap: 10px;

//   &::after {
//     @include pseudo-element;
//     width: 40px;
//     height: 40px;

//     background-color: $basic-red;
//     mask: url("../../images/icons/stack.svg#icon-wishlist-added") no-repeat center;
//   }
// }

.catalog-favorite__message {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.catalog-favorite__message-text {
  margin: 5px 0;
}

.catalog-favorite__message-link {
  display: inline-block;
}

.catalog-favorite__message-button {
  width: 60%;
  padding: 15px;
}
