.catalog__button {
  width: 80%;
  margin: 0 auto;
  padding: 40px;

  font-size: 25px;

  background-color: rgba($company-dark-color, 0.9);
  color: $basic-white;
  border: 2px solid $basic-white;
  border-radius: 10px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}
