.faq {
  display: flex;
  flex-direction: column;
  align-items: center;

  // padding: 0 $mobile-container-padding;

  flex-grow: 1;
}

.faq__list {
  width: 100%;
  margin-bottom: 15px;
}

@keyframes slideAndFade {
  from {
    background-size: 0% 100%;
    background-color: var(--bg-color);
  }

  to {
    background-size: 100% 100%;
    background-color: rgba(var(--bg-color), 0);
  }
}

.faq__card {
  display: block;
  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
  --bg-color: #ffffff;
  background-color: var(--bg-color);

  &:nth-child(even) {
    --bg-color: #e9f9f5;
    background-color: var(--bg-color);
  }

  &:hover {
    background-image: linear-gradient(to right, rgba($company-light-violet, 0.9) 0%, transparent 100%);
    background-repeat: no-repeat;
    animation: slideAndFade 1s ease-in forwards;
  }
}

.faq__card-title {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;

  color: $company-dark-color;
  text-align: start;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;

  &::after {
    @include pseudo-element;
    width: 30px;
    height: 30px;
    margin: auto 0;

    background-color: $company-dark-color;
    mask: url("../../images/icons/stack.svg#icon-arrow-down") no-repeat center;
    mask-size: 12px 9px;
  }

  &--opened {
    &::after {
      transform: scaleY(-1);
    }
  }
}

.faq__card-text-wrapper {
  padding-top: 10px;
  padding-right: 30px;
}

.faq__card-text {
  margin: 0;

  line-height: 18px;
}


.faq__contacts {
  margin-top: auto;
  margin-bottom: 50px;

  padding: 0 50px;

  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
