.footer-menu {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 15px;
}

.footer-menu__link {
  display: inline-block;
  padding: 10px 0;
  margin: 0 10px;

  font-size: 20px;
  font-weight: 300;
  color: inherit;

  opacity: 0.65;
  transition: 0.5s;

  border-bottom: 1px dashed transparent;

  &--active {
    opacity: 1;
    border-bottom: 1px solid $basic-white;
  }

  &:hover {
    opacity: 1;
    border-bottom: 1px dashed $basic-white;
  }

  &--active:hover {
    opacity: 0.65;
  }

  &:active {
    opacity: $active-opacity;
    transition: $active-transition;
    border-bottom: 1px solid $basic-white;
  }
}
