.hero {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;

  text-align: center;

  background-image: url("../../images/hero-new-year-mobile-2.webp");
  background-repeat: no-repeat;
  background-size: 130%;
  background-attachment: scroll;
}

.hero__title {
  margin-bottom: 30px;

  font-size: 30px;
  color: $company-dark-color;
}

.hero__subtitle {
  font-size: 20px;
  color: $company-dark-color;
}

.hero__button {
  padding: 40px;
  margin: auto;
  margin-bottom: 80px;

  font-size: 25px;
  background-color: rgba($basic-white, 0.6);

  transition: opacity 0.5s ease;
  opacity: 0;
  pointer-events: none;
}

@media (min-width: $tablet-width) {
  .hero {
    background-image: url("../../images/hero-new-year-desktop.webp ");
  }
}
