.icon-button {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;

  border: none;

  mask: var(--icon-button) no-repeat center;
  mask-size: $icon-medium;


  // HEADER
  // user-communication
  &--user-communication {
    background-color: $company-dark-color;

    transition: $hover-transition;
  }

  &--user-communication-login {
    --icon-button: url("../../images/icons/stack.svg#icon-login");
  }

  &--user-communication-cart {
    background-image: url("../../images/icons/stack.svg#icon-cart");
    background-position: center;
    background-repeat: no-repeat;
    background-size: $icon-medium;
  }

  &--user-communication-cart-added {
    background-image: url("../../images/icons/stack.svg#icon-cart-added");
  }


  &--user-communication-search {
    cursor: pointer;
    --icon-button: url("../../images/icons/stack.svg#icon-search");
  }

  &--user-communication-activation-search {
    --icon-button: url("../../images/icons/stack.svg#icon-search");
    mask-size: $icon-small;
  }

  &--user-communication-menu-closed {
    --icon-button: url("../../images/icons/stack.svg#icon-menu-burger");
  }

  &--user-communication-menu-opened {
    --icon-button: url("../../images/icons/stack.svg#icon-form-cross");
  }

  &--user-communication-clear-input {
    --icon-button: url("../../images/icons/stack.svg#icon-form-cross");
    mask-size: $icon-mini;
  }


  // футер
  &--footer {
    background-color: $basic-white;
    mask-size: $icon-huge;
  }

  &--footer-instagram {
    --icon-button: url("../../images/icons/stack.svg#icon-instagram");
  }

  &--footer-facebook {
    --icon-button: url("../../images/icons/stack.svg#icon-facebook");
  }

  &--footer-email {
    --icon-button: url("../../images/icons/stack.svg#icon-email");
  }


  // состояния
  &:hover {
    opacity: $hover-opacity;

    transform: scale(1.2);
  }

  &:active {
    opacity: $active-opacity;
  }
}
