.icon-button {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;

  border: none;

  background-color: $basic-white;
  mask: var(--icon-button) no-repeat center;

  &--header-menu-button-opened {
    --icon-button: url("../../images/icons/stack.svg#icon-form-cross");
    mask-size: 18px 18px;
  }

  &--header-menu-button-closed {
    --icon-button: url("../../images/icons/stack.svg#icon-menu-burger");
    mask-size: 24px 24px;
  }

  // user-communication
  &--user-communication-search {
    cursor: pointer;
    --icon-button: url("../../images/icons/stack.svg#icon-search");
  }

  &--user-communication-search-opened {
    background-color: rgb(153, 153, 153);

    --icon-button: url("../../images/icons/stack.svg#icon-form-cross");
    mask-size: 18px 18px;
  }

  &--user-communication-activation-search {
    background-color: $company-dark-color;

    --icon-button: url("../../images/icons/stack.svg#icon-search");
    mask-size: 18px 18px;
  }

  &--user-communication-login {
    --icon-button: url("../../images/icons/stack.svg#icon-login");
  }

  &--user-communication-cart {
    --icon-button: url("../../images/icons/stack.svg#icon-cart");
  }

  // Каталог
  &--catalog-favorite {
    --icon-button: url("../../images/icons/stack.svg#icon-wishlist");
    background-color: $company-dark-color;
  }

  &--catalog-favorite-added {
    --icon-button: url("../../images/icons/stack.svg#icon-wishlist-added");
    background-color: $basic-pink;

    // Заменить сердце на другое

    // mask: none;
    // background-image: url("../../images/icons/icon-wishlist-added.svg");
    // background-size: 35px 35px;
    // background-repeat: no-repeat;
    // background-position: 50% 50%;
  }

  &--catalog-add-to-cart {
    --icon-button: url("../../images/icons/stack.svg#icon-cart");
    background-color: $company-dark-color;
  }

  &--catalog-added-to-cart {
    --icon-button: url("../../images/icons/stack.svg#icon-cart-added");
    background-color: $company-dark-color;
  }

  // состояния
  &:hover {
    opacity: $hover-opacity;
  }

  &:active {
    opacity: $active-opacity;
  }
}
