.icon-button {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;

  border: none;

  background-color: $company-medium-color;
  mask: var(--icon-button) no-repeat center;
}

.icon-button__header-menu-button--opened {
  --icon-button: url("../../images/icons/stack.svg#icon-form-cross");
  mask-size: 18px 18px;
}

.icon-button__header-menu-button--closed {
  --icon-button: url("../../images/icons/stack.svg#icon-menu-burger");
  mask-size: 24px 24px;
}

.icon-button__user-communication {
 &--search-button {
    cursor: pointer;
    --icon-button: url("../../images/icons/stack.svg#icon-search");
 }

 &--search-button-opened {
  background-color: rgb(153, 153, 153);

  --icon-button: url("../../images/icons/stack.svg#icon-form-cross");
  mask-size: 18px 18px;
}

  &--activation-search-button {
    --icon-button: url("../../images/icons/stack.svg#icon-search");
    mask-size: 18px 18px;
  }

 &--wishlist-button {
  --icon-button: url("../../images/icons/stack.svg#icon-wishlist");
 }

 &--cart-button {
  --icon-button: url("../../images/icons/stack.svg#icon-cart");
  transform: scaleX(-1);
 }
}
