.main-catalog {
  background-color: rgba($company-light-color, 0.2);
}

.main-catalog__title {
  margin: 0 auto;
  padding: 10px 0;

  font-size: 25px;
}

.main-catalog__list {
  row-gap: 25px;
  column-gap: 15px;
}

.main-catalog__card {
  min-width: 30%;
  max-width: 45%;
}

.main-catalog__card-image-link {
  margin: 0 -15px;

  width: calc(100% + 30px);
}

.main-catalog__card-properties-item {
  margin-top: auto;

  font-size: 18px;
  line-height: 20px;
}

@media (min-width: $desktop-width) {
  .main-catalog__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
