.main-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 20px 0;

  color: $basic-white;
  background: $company-dark-color;
}

.main-footer__menu {
  margin: 10px 0 20px;
  z-index: 10;
}


.main-footer__copyright {
  margin: 0;
  padding-top: 15px;
}
