.main-nav__list {
  &--mobile-closed {
    @include hidden-element;
  }

  &--mobile-opened {
    @include revealed-element;
  }
}

.main-nav__sublist {
  &--closed {
    @include hidden-element;
  }

  &--opened {
    @include revealed-element;
  }
}

.main-nav__main-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 65px;
  width: 100vw;
  background: #cac4f6;

  font-size: 18px;

  &::after {
    @include pseudo-element;

    position: absolute;
    bottom: 100%;
    width: 100vw;

    border-bottom: 1px solid #e6e6e6;
  }
}

.main-nav__main-list-link {
  height: 65px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.main-nav__main-list-text {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;

  font-weight: 600;

  &--list-down {
    &::after {
      content: "";
      display: block;
      width: 12px;
      height: 9px;
      margin-top: 5px;

      background-color: $company-dark-color;

      mask: url("../../images/icons/icon-arrow-down.svg");
      background-repeat: no-repeat;
    }
  }
}

.main-nav__main-list--mobile-opened {
  height: max-content;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    min-height: 60px;
    align-items: center;

    gap: 5px;
  }

  .main-nav__main-list {
    position: relative;
  }

  .main-nav__main-list-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;

    box-sizing: border-box;
    border-radius: $border-radius;

    color: $basic-white;
    font-weight: 700;

    &--list-down {
      border-radius: $border-radius $border-radius 0 0;

      &::after {
        content: "";
        display: block;
        width: 12px;
        height: 9px;

        background-image: url("../../images/icons/icon-arrow-down.svg");
        background-repeat: no-repeat;
      }
    }

    &:focus,
    &:focus-within,
    &:hover {
      background-color: var(--company-dark-color);
      outline: none;
    }

    &:active {
      opacity: var(--active-opacity);
      transition: none;
    }
  }
}
