/* ХЕДЕР */
.main-header {
  position: fixed;
  width: 100%;

  z-index: 10;

  background-color: $basic-white;
  background-image: $company-gradient;
}

.main-header__main-part {
  position: relative;
  display: grid;
  padding: 5px;

  grid-template-columns: 80px auto 120px;
  grid-template-rows: repeat(2, 40px);
  row-gap: 10px;

  box-sizing: border-box;
}

/* логотип */
.main-header__logo-link {
  &--pic {
    grid-row: 1/3;
  }

  &--text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
}

.main-header__logo-container {
  &--text {
    fill: $company-dark-color;
    font-family: $basic-font-family;
    font-size: 22px;
    text-transform: uppercase;
  }
}

/* кнопки */
.main-header__user-communication {
  grid-row: 1/3;
  grid-column: 2/4;
}


/* слайдер категорий */
.main-header__category-slider {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;

  background-color: rgb(255, 255, 255);
  scrollbar-color: $company-dark-color #f1f1f1;


  --shadow-start-opacity: 1;
  --shadow-end-opacity: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;

    height: 44px;
    width: 50px;

    pointer-events: none;
    transition: opacity 0.3s;

    background: linear-gradient(to right, rgba($company-dark-color, 0.9), rgba($company-dark-color, 0.7)20%, transparent);
  }

  &::before {
    left: 0;
    opacity: var(--shadow-start-opacity);
  }

  &::after {
    right: 0;
    opacity: var(--shadow-end-opacity);

    transform: scaleX(-1);
  }
}
