/* -- ГЛОБАЛЬНЫЕ ТЕГИ -- */
:root {
  --container-padding: 10%;

  --company-dark-color:#120d43;
  --company-light-color: #8fe0cc;
  --slider-color: 255, 255, 255;

  --company-gradient: linear-gradient(0.25turn, rgb(19, 14, 68), rgb(19, 14, 68, 0.5), rgb(69, 24, 231, 0.3), rgb(140, 222, 204, 0.3));
  --company-gradient-returning: linear-gradient(0.25turn, rgb(19, 14, 68), rgb(19, 14, 68, 0.5), rgb(69, 24, 231, 0.3), rgb(140, 222, 204, 0.3) 40%, rgb(140, 222, 204, 0.3) 60%, rgb(69, 24, 231, 0.3), rgb(19, 14, 68, 0.5), rgb(19, 14, 68));
  --company-gradient-vertical: linear-gradient(0.5turn, rgb(19, 14, 68), rgb(19, 14, 68, 0.5), rgb(69, 24, 231, 0.3), rgb(140, 222, 204, 0.3));

  --border-radius: 15px;

  --active-opacity: 60%;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100%;

  font-family: "Playpen Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #000000;

  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;

  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  margin-bottom: 70px;
}

/* ОБЩЕЕ */
/**/
.name-text {
  font-family: 'Alex Brush', cursive;
}

/* ссылки */
.link {
  display: block;

  color: black;
  text-decoration: none;
}

/* кнопки */
.button {
  display: block;
  min-width: 40px;
  min-height: 20px;
  padding: 8px 10px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  border: 3px solid var(--company-dark-color);
  border-radius: var(--border-radius);
  background-color: var(--company-dark-color);
}

.button:active {
  opacity: var(--active-opacity);
}

.button:hover,
.button:focus-visible {
  outline: 0;
  background-color: var(--company-light-color);
}

/* списки */
.list {
  margin: 0;
  padding: 0;
}

.list-item {
  list-style: none;
}

/* скрытое */
.visually-hidden {
  display: none;
}

/* HEADER */
.main-header {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;

  padding: 5px var(--container-padding);
  background-image: var(--company-gradient);
}


/* navigation */
.navigation-list {
  display: flex;
  min-height: 60px;
  align-items: center;

  gap: 5px;
}

.navigation-link {
  padding: 20px;

  color: white;
  font-weight: 700;
  }

  .navigation-link {
    border-radius: var(--border-radius);
  }

  .navigation-submenu-title {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    gap: 10px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;

  }

  .navigation-link:hover,
  .navigation-link:focus,
  .navigation-item:hover .navigation-submenu-title,
  .navigation-item:focus .navigation-submenu-title,
  .navigation-item:focus-within .navigation-submenu-title {
    background-color: var(--company-dark-color);
    outline: none;
}

.navigation-link:active,
.navigation-submenu-title:active + .navigation-submenu {
  opacity: var(--active-opacity);
  transition: none;
}

.navigation-submenu-title::after {
  content: "";
  display: block;
  width: 12px;
  height: 9px;

  background-image: url(../images/icons/icon-arrow-down.svg);
  background-repeat: no-repeat;
}


/* menu */
.navigation-item {
  position: relative;
}

.navigation-submenu {
  position: absolute;

  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s ease-in-out;
}

.navigation-submenu-title:hover + .navigation-submenu,
.navigation-submenu-title:focus + .navigation-submenu,
.navigation-submenu:hover,
.navigation-submenu:focus,
.navigation-submenu:focus-within {
  padding: 10px;
  width: 180px;

  display: flex;
  flex-direction: column;
  transform: scaleY(1);

  top: 50px;
  left: 0;

  background-color: var(--company-dark-color);
  box-shadow: 1px 1px 10px rgb(19, 14, 68, 30%);
  border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
}

.navigation-submenu-category-item {
  padding: 5px;
  padding-left: 15px;
  margin: 5px;

  color: white;
  font-weight: 400;

  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 0 30px 30px 0;
  }

  .navigation-submenu-category-item:hover,
  .navigation-submenu-category-item:focus-visible {
    outline: none;
    border-radius: 0 30px 30px 0;
    background-color: var(--company-light-color);
  }

  .navigation-submenu-category-item:active {
    opacity: var(--active-opacity);
}

.category-item-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-item-name::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px 0 10px;

    align-self: center;

    background-image: var(--category-item-photo);
    background-size: 30px 30px;
    background-repeat: no-repeat;
  }

  .category-new-year {
    --category-item-photo: url(../images/icons/icon-christmas-tree.png);
  }

  .category-easter {
    --category-item-photo: url(../images/icons/icon-bunny.png);
  }

  .category-animals {
    --category-item-photo: url(../images/icons/icon-unicorn.svg)
  }

  .category-halloween {
    --category-item-photo: url(../images/icons/icon-pumpkin.png)
  }

  .category-adults-18::after {
    background-image: url(../images/icons/icon-age-18.png);
    transition: transform 0.3s ease-in-out;
  }

  .category-adults-18:hover::after {
    animation: heartbeat 1s infinite;
}



/* user-communication */
.user-communication {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin-left: auto;
  min-height: 60px;

  justify-content: end;
  align-items: center;

  gap: 10px;
}

/* форма поиска */
.search-form {
  display: grid;
  width: 250px;

  grid-template-columns: 1fr 44px;
  align-items: center;
  order: -1;
}

.search-input {
  position: relative;
  padding: 14px;
  grid-row: 1;
  grid-column: 1/3;

  border: none;
  border-radius: var(--border-radius);
  background-color: rgb(255, 255, 255, 0.5);
  /* background-color: var(--company-dark-color); */

  color: var(--company-dark-color);
  font-family: inherit;
  font-weight: 400;

  transform: scaleX(0);
  transform-origin: top right;
  transition: transform 0.3s ease;
}

.search-form:focus-within .search-input,
.search-form:hover .search-input {
  transform: scaleX(1);
  outline: none;
}

.search-input::placeholder {
  color: var(--company-dark-color);
  font-family: inherit;
  font-weight: 400;
}

/* кнопки навигации */
.header-icon-button {
  display: block;
  position: relative;
  width: 44px;
  height: 44px;
  padding: 0;

  border: none;
  border-radius: var(--border-radius);

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.header-search-button {
  grid-row: 1;
  grid-column: 2;
  justify-self: end;

  cursor: pointer;
  --header-icon: url("../images/icons/icon-search.svg");
  z-index: 1;
}

.header-wishlist-button {
  --header-icon: url("../images/icons/icon-wishlist.svg");
}

.header-cart-button {
  --header-icon: url("../images/icons/icon-cart.svg");
  transform: scaleX(-1);
}

.header-icon-button:hover,
.header-icon-button:focus-visible  {
  background-color: var(--company-dark-color);
  outline: none;
}

.header-icon-button:active  {
  opacity: var(--active-opacity);
}

.header-icon-button::before {
  content: "";
  display: block;
  width: 44px;
  height: 44px;

  background-color: var(--company-dark-color);

  -webkit-mask: var(--header-icon) no-repeat center;
  mask: var(--header-icon) no-repeat center;
}

.header-icon-button:hover::before,
.header-icon-button:focus::before {
  background-color: #ffffff;
}

.header-cart-button.full {
  --header-icon: url("../images/icons/icon-cart-2.svg");
}

/* MAIN */
/* Hero */
.hero {
  margin-bottom: 60px;
}

.hero-img {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.name-text-hero {
  font-size: 100px;
}

.name-smaller {
  font-size: 60%;
}

/* MAIN CONTENT */
.main-content {
  display: grid;
  grid-template-columns: 25% 70%;
  row-gap: 5%;
  column-gap: 5%;
}

/* форма поиска подарка*/
.present-searching-form {
  display: flex;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;

  grid-row: 1/3;
  flex-direction: column;

  color: #ffffff;
  font-size: 16px;
  text-shadow: #140f45 0 0 12px;

  border-radius: var(--border-radius);
  background-image: var(--company-gradient-vertical);
}

.slider-category-title {
  font-size: 18px;
  font-weight: 700;
}

/* слайдер фильтра по цене*/
.slider-price-title {
  display: block;
  margin-bottom: 20px;
}

.slider-price-value {
  text-align: center;
}

.slider {
  display: flex;
  position: relative;
  width: 100%;
  height: 20px;

  background-image: linear-gradient(transparent 40%, rgba(var(--slider-color), 0.3) 40%, rgba(var(--slider-color), 0.3) 60%, transparent 60%);
}

.slider-scale {
  position: relative;
  align-self: flex-end;
  height: 4px;
  width: 100%;
  margin: auto;
  margin-left: 0;

  background-color: #ffffff
}

.slider-button {
  display: block;
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
}

.slider-button-min {
  left: 0;
}

.slider-button-max {
  right: 0;
}

.slider-button:hover,
.slider-button:focus-visible,
.slider-button:active {
  outline: 3px solid #ffffff;
  background-color: var(--company-dark-color);
}

/* фильтр */
.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset-legend-wrapper {
  display: flex;
  position: relative;
  /* width: max-content; */
  padding: 15px;
  padding-left: 10px;
  margin: 10px 0 -10px -10px;

  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.fieldset-openable::after {
  display: block;
  position: absolute;
  content: " ";
  width: 8px;
  height: 8px;

  right: 15px;

  background-color: #140f45;
  filter: blur(8px);
  z-index: 0;
}

.fieldset-openable:active {
  opacity: var(--active-opacity);
}

.fieldset-openable:active ~ .category-wrapper {
  opacity: var(--active-opacity);
}

.fieldset-openable:hover,
.fieldset-openable:focus-within {
  color: var(--company-light-color);
  background-color: var(--company-dark-color);
  border-radius: 0 30px 30px 0;
}

.fieldset-openable:hover .fieldset-open-button{
  background-color: var(--company-light-color);
}

.fieldset-openable.closed ~ .category-wrapper {
  display: none;
}

.fieldset-legend {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: -2px;
}

.fieldset-open-button {
  display: block;
  width: 12px;
  height: 9px;
  margin-left: 0;

  background-color: white;
  border: none;

  -webkit-mask: url(../images/icons/icon-arrow-down.svg) no-repeat center;
  mask: url(../images/icons/icon-arrow-down.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.fieldset-openable.opened .fieldset-open-button {
  transform: rotate(180deg);
}

/* список чекбоксов */
.category-wrapper {
  display: flex;
  margin: 10px 0;

  flex-direction: column;
}

.fieldset-hiding > .category-wrapper {
  display: none;
}

.category-wrapper.visible {
  display: flex;
}


/* стилизация чекбоксов */
.checkbox-item {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 10px;

  align-items: center;
  gap: 10px;

  cursor: pointer;
  border-radius: 0 30px 30px 0;
}

.checkbox-item:active {
  opacity: var(--active-opacity);
}

.checkbox-item:hover,
.checkbox-item:focus-within {
  background-color: var(--company-dark-color);
}

.checkbox-input {
  min-width: 20px;
  min-height: 20px;
  margin: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: #ffffff;
  border-radius: 30%;
}

.checkbox-input:focus-visible {
  outline: none;
}

.checkbox-input:checked {
  background-image: url("../images/icons/icon-checkbox-checked.svg");
  background-repeat: no-repeat;
}

.checkbox-label {
  cursor: pointer;
}

.checkbox-label:before {
  display: block;
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: transparent;
}

.present-searching-form-button {
  margin-top: auto;
}

/* СЛАЙДЕР ФОТО*/
.promotion-slider {
  height: 300px;
  overflow: hidden;
  position: relative;

  background-image: var(--company-gradient);
  border-radius: var(--border-radius);
}

.promotion-slider-item {
  height: 100%;
  position: relative;
}

.promotion-image-title {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);


  font-size: 80px;
  font-family: 'Alex Brush', cursive;
}

.promotion-slider-photo {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.image-area {
  outline: 3px solid var(--company-dark-color);
}

.slider-photo-link {
  display: inline-block;
  position: absolute;
  height: 30px;
  width: 30px;
  margin-left: 20px;

  border-radius: 50%;
  background-color: #ffffff;
  box-sizing: border-box;

  animation: blink 0.7s infinite alternate;
}

.slider-photo-link:active,
.image-area:active + .slider-photo-link {
  opacity: var(--active-opacity);
}

.slider-photo-link:hover,
.image-area:hover + .slider-photo-link,
.image-area:focus + .slider-photo-link {
  animation: none;
  background-color: var(--company-dark-color);
  outline: 3px solid #ffffff;
}

.slider-photo-link::before {
  display: none;
  content: var(--slider-photo-link-text-content);
  height: max-content;
  margin-left: 30px;
  margin-top: 7px;

  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 0 5px rgba(20, 15, 69, 1), 0 0 10px rgba(20, 15, 69, 0.8), 0 0 15px rgba(20, 15, 69, 0.6);
  white-space: pre;
}

.slider-photo-link:hover::before,
.image-area:hover + .slider-photo-link::before,
.image-area:focus + .slider-photo-link::before {
 display: inline-block;
}

@keyframes blink {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 0.8;
  }
}

/* расположение ссылок на слайдере в самом конце документа */


/* КАРТОЧКИ ТОВАРОВ */
.products-list {
  display: grid;
  margin-bottom: 70px;

  grid-template-columns: repeat(3, 30%);
  gap: 5%;
  justify-content: center;
}

.product-card {
  display: grid;
  min-width: min-content;
  padding: 20px;

  grid-template-columns: auto 20% 20%;
  grid-template-rows: auto repeat(3, 1fr);
  column-gap: 5%;
  row-gap: 5%;

  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: var(--border-radius);
}

.card-img-link {
  grid-column: 1 / -1;
}

.card-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.product-type,
.product-weight {
  display: block;

  margin: 5px 0 -5px 0;
}

.product-weight {
  grid-column: 2 / 4;

  justify-self: end;
  font-size: 12px;
}

.product-name {
  margin: 0 auto;
  grid-column: 1 / -1;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  max-height: fit-content;
}

.card-title-link::before,
.card-title-link::after {
  display: inline;
  content: '"';
}

.card-price-value {
  margin: auto 0;

  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  max-height: fit-content;
}

.product-card-button {
  min-height: 40px;
  padding: 0;
}

.product-card-button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;

  -webkit-mask: var(--product-card-button) no-repeat center;
  mask: var(--product-card-button) no-repeat center;
  mask-size: 80%;
  transform: scaleX(-1);
}

.product-card-add {
  background-color: var(--company-dark-color);
}

.product-card-add::before {
  background-color: #ffffff;
  --product-card-button: url(../images/icons/icon-cart.svg)
}

.product-favorites-add {
  background-color: transparent;
  border: none;
}

.product-favorites-add::before  {
  background-color: red;
  --product-card-button: url("../images/icons/icon-wishlist.svg");
}


/* FOOTER */
.main-footer {
  display: flex;
  position: relative;
  min-height: 60px;
  padding: 10px var(--container-padding);

  justify-content: start;
  align-items: center;
  gap: 70px;

  background-image: var(--company-gradient-returning);
}

.social {
  display: flex;
  gap: 10px;
}

.social-item-link {
  display: flex;
  height: 30px;
  width: 30px;
  padding: 5px;

  align-items: center;
  justify-content: center;

  border-radius: var(--border-radius);
}

.social-item-link:not(.social-inst-18):hover,
.social-item-link:not(.social-inst-18):focus {
  background-color: var(--company-dark-color);
  outline: none;
}

.social-item-link:active {
  opacity: var(--active-opacity);
}

.social-item-link:not(.social-inst-18):before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    background-color: #ffffff;

    -webkit-mask: var(--social-icon) no-repeat center;
    mask: var(--social-icon) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }

  .social-tg {
    --social-icon: url("../images/icons/icon-telegram.svg");
  }

  .social-inst {
    --social-icon: url("../images/icons/icon-instagram.svg");
  }

  .social-fb {
    --social-icon: url("../images/icons/icon-facebook.svg");
  }

  @keyframes heartbeat {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }

  .social-inst-18 {
    background: url("../images/icons/icon-age-18.png") no-repeat center;
    background-size: 100%;

    transition: 0.3s ease-in;
  }

  .social-inst-18:hover,
  .social-inst-18:focus {
    outline: none;
     animation: heartbeat 1s infinite;
}

/* имя фирмы */
.name-text-footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 60px;
  text-align: center;
}


/******************************************************************************/
/* расположение ссылок на слайдере */
.photo-link-warm-cloth {
  top: 145px;
  left: 185px;
  --slider-photo-link-text-content: "Set mini-sapuna\0a" open-quote "Zimski aksesuari" close-quote;
}

.photo-link-2024 {
  top: 140px;
  left: 535px;
  --slider-photo-link-text-content: "Sapun\0a" open-quote "2024" close-quote;
}

.photo-link-ny-tree {
  top: 155px;
  right: 95px;
  --slider-photo-link-text-content: "Sapun\0a" open-quote "Jelka" close-quote;
}
