.slider-catalog {
  &--popular {
    background-color: rgba($company-light-color, 0.2);
  }

  &--favorite {
    gap: 40px;

    background-color: rgba(rgb(253, 212, 218), 0.6);
  }
}

.slider-catalog__list {
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 20px;

  padding: 0 25px 35px 25px;

  overflow-x: auto;
}

.slider-catalog__card {
  overflow: hidden;

  min-width: 310px;
  max-width: 350px;

  padding-top: 20px;
}


// Фото товара
.slider-catalog__card-image-link {
  height: 260px;
}

.slider-catalog__card-image {
  border-radius: 5%;
}

// @keyframes moveText {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

// .slider-catalog__card-image-superscript {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: absolute;
//   right: -20px;
//   top: -10px;

//   height: 50px;
//   width: 50px;
//   padding: 5px;
//   margin: 0;

//   color: $basic-white;
//   font-size: 16px;
//   font-weight: 700;

//   &--sale {
//     &::before {
//       @include pseudo-element;
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       background:
//       conic-gradient(from 80deg, $basic-red 10%, transparent),
//       radial-gradient(circle,$basic-orange 10%, $basic-yellow, transparent);
//       border-radius: 50%;
//       animation: moveText 2s linear infinite;
//     }
//   }

//   &--new {
//     height: 35px;
//     background-color: $basic-green;
//     border-radius: 5px;
//   }
// }

// .slider-catalog__card-image-superscript-text {
//   position: relative;
//   &--sale {
//     text-shadow: -1px 1px 0 $basic-red ;
//   }
// }

// Описание и свойства

.slider-catalog__card-properties--set .slider-catalog__card-properties-item--price {
  margin-top: auto;
}

// .slider-catalog__card-properties-item {
  // &--set {
  //   flex-direction: column;
  //   align-items: center;
  //   gap: 10px;

  //   text-align: center;
  // }

  // &--price {
  //   margin-top: auto;
  // }
// }

// .slider-catalog__card-properties-item-value {
//   position: relative;

//   &--set-discription {
//     color: $sets-color;
//   }

//   &--sale {
//     color: rgba($basic-grey, 0.7);
//     transform: translate(-20px, 15px);

//     &::after {
//       @include pseudo-element;
//       position: absolute;
//       top: 50%;
//       right: -10px;
//       height: 3px;
//       width: 130%;

//       background-color: rgba($basic-grey, 0.7);

//       border-radius: 10px;
//     }
//   }

//   &--sale-price {
//     color: $basic-green;
//     position: absolute;
//     top: -22px;
//     right: -36px;

//     transform: scale(1.2);
//   }
// }
