.slider-catalog {
  &--popular {
    background-color: rgba($company-light-color, 0.2);
  }

  &--favorite {
    gap: 40px;

    background-color: rgba(rgb(253, 212, 218), 0.6);
  }
}

.slider-catalog__list {
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 20px;

  padding: 0 25px 35px 25px;

  overflow-x: auto;
}

.slider-catalog__card {
  overflow: hidden;

  min-width: 310px;
  max-width: 350px;

  padding-top: 20px;
}


// Фото товара
.slider-catalog__card-image-link {
  height: 260px;
}

.slider-catalog__card-image {
  border-radius: 5%;
}
