.main-footer__social-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;

  margin: 10px 0 20px;
  z-index: 10;
}

.social-list__link {
  display: inline-block;
  width: 32px;
  height: 32px;

  transition: 0.5s;

  &:hover {
    transform: translateY(-10px);
  }

  &:active {
    opacity: $active-opacity;
    transition: $active-transition;
  }
}
