/* -- ГЛОБАЛЬНЫЕ ТЕГИ -- */
:root {
  --container-padding: 10%;
  --slider-color: 255, 255, 255;;

  --company-gradient: linear-gradient(0.25turn, rgb(19, 14, 68), rgb(19, 14, 68, 0.5), rgb(69, 24, 231, 0.3), rgb(140, 222, 204, 0.3));
  --company-gradient-vertical: linear-gradient(0.5turn, rgb(19, 14, 68), rgb(19, 14, 68, 0.5), rgb(69, 24, 231, 0.3), rgb(140, 222, 204, 0.3));

  --border-radius: 15px;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100%;

  font-family: "Playpen Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #000000;

  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;

  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  margin-bottom: 70px;
}

/* ОБЩЕЕ */
/**/
.name-text {
  font-family: 'Alex Brush', cursive;
}

/* ссылки */
.link {
  display: block;

  color: black;
  text-decoration: none;
}

/* списки */
.list {
  margin: 0;
  padding: 0;
}

.list-item {
  list-style: none;
}

/* скрытое */
.visually-hidden {
  display: none;
}

/* HEADER */
.main-header {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;

  padding: 5px var(--container-padding);
  background-image: var(--company-gradient);
}


/* navigation */
.navigation-list {
  display: flex;
  min-height: 60px;
  align-items: center;

  gap: 5px;
}

.navigation-link {
  padding: 20px;

  color: white;
  font-weight: 700;
  }

  .navigation-link {
    border-radius: var(--border-radius);
  }

  .submenu-title {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    gap: 10px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;

  }

  .navigation-link:hover,
  .navigation-link:focus,
  .navigation-item:hover .submenu-title,
  .navigation-item:focus .submenu-title,
  .navigation-item:focus-within .submenu-title {
    background-color: rgb(19, 14, 68);
    outline: none;
}

.navigation-link:active,
.submenu-title:active + .submenu {
  opacity: 60%;
  transition: none;
}

.submenu-title::after {
  content: "";
  display: block;
  width: 12px;
  height: 9px;

  background-image: url(../images/icons/icon-arrow-down.svg);
  background-repeat: no-repeat;
}


/* menu */
.navigation-item {
  position: relative;
}

.submenu {
  position: absolute;

  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s ease-in-out;
}

.submenu-title:hover + .submenu,
.submenu-title:focus + .submenu,
.submenu:hover,
.submenu:focus,
.submenu:focus-within {
  padding: 10px;
  width: 180px;

  display: flex;
  flex-direction: column;
  transform: scaleY(1);

  top: 50px;
  left: 0;

  background-color: rgb(19, 14, 68);
  box-shadow: 1px 1px 10px rgb(19, 14, 68, 30%);
  border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
}

.submenu-category-item {
  padding: 5px;
  padding-left: 15px;
  margin: 5px;

  color: white;
  font-weight: 400;

  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 0 30px 30px 0;
  }

  .submenu-category-item:hover,
  .submenu-category-item:focus-visible {
    outline: none;
    border-radius: 0 30px 30px 0;
    background-color: rgb(143, 224, 204, 1);
  }

  .submenu-category-item:active {
    opacity: 60%;
}

.category-item-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-item-name::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px 0 10px;

    align-self: center;

    background-image: var(--category-item-photo);
    background-size: 30px 30px;
    background-repeat: no-repeat;
  }

  .category-new-year {
    --category-item-photo: url(../images/icons/icon-christmas-tree.png);
  }

  .category-easter {
    --category-item-photo: url(../images/icons/icon-bunny.png);
  }

  .category-animals {
    --category-item-photo: url(../images/icons/icon-unicorn.svg)
  }

  .category-halloween {
    --category-item-photo: url(../images/icons/icon-pumpkin.png)
  }

  .category-adults-18::after {
    background-image: url(../images/icons/icon-age-18.png);
    transition: transform 0.3s ease-in-out;
  }

  .category-adults-18:hover::after {
    animation: heartbeat 1s infinite;
}



/* user-communication */
.user-communication {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin-left: auto;
  min-height: 60px;

  justify-content: end;
  align-items: center;

  gap: 10px;
}

/* форма поиска */
.search-form {
  display: grid;
  width: 250px;

  grid-template-columns: 1fr, 44px;
  align-items: center;
  order: -1;
}

.search-input {
  position: relative;
  padding: 14px;
  grid-row: 1;
  grid-column: 1/3;

  border: none;
  border-radius: var(--border-radius);
  background-color: rgb(255, 255, 255, 0.5);
  /* background-color: rgb(19, 14, 68); */

  color: #130e44;
  font-family: inherit;
  font-weight: 400;

  transform: scaleX(0);
  transform-origin: top right;
  transition: transform 0.3s ease;
}

.search-form:focus-within .search-input,
.search-form:hover .search-input {
  transform: scaleX(1);
  outline: none;
}

.search-input::placeholder {
  color: #130e44;
  font-family: inherit;
  font-weight: 400;
}

/* кнопки навигации */
.header-icon-button {
  display: block;
  position: relative;
  width: 44px;
  height: 44px;
  padding: 0;

  border: none;
  border-radius: var(--border-radius);

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.header-search-button {
  grid-row: 1;
  grid-column: 2;
  justify-self: end;

  cursor: pointer;
  --header-icon: url("../images/icons/icon-search.svg");
  z-index: 1;
}

.header-wishlist-button {
  --header-icon: url("../images/icons/icon-wishlist.svg");
}

.header-cart-button {
  --header-icon: url("../images/icons/icon-cart.svg");
  transform: scaleX(-1);
}

.header-icon-button:hover,
.header-icon-button:focus-visible  {
  background-color: rgb(19, 14, 68);
  outline: none;
}

.header-icon-button:active  {
  opacity: 60%;
}

.header-icon-button::before {
  content: "";
  display: block;
  width: 44px;
  height: 44px;

  background-color: #000000;

  -webkit-mask: var(--header-icon) no-repeat center;
  mask: var(--header-icon) no-repeat center;
}

.header-icon-button:hover::before,
.header-icon-button:focus::before {
  background-color: #ffffff;
}

.header-cart-button.full {
  --header-icon: url("../images/icons/icon-cart-2.svg");
}

/* MAIN */
/* Hero */
.hero {
  margin-bottom: 60px;
}

.hero-img {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.name-text-hero {
  font-size: 100px;
}

.name-smaller {
  font-size: 60%;
}

/* MAIN CONTENT */
.main-content {
  display: grid;
  grid-template-columns: 25% auto;
  row-gap: 60px;
  column-gap: 60px;
}

/* форма поиска подарка*/
.present-searching-form {
  display: flex;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;

  grid-row: 1/3;
  flex-direction: column;
  gap: 30px;

  color: #ffffff;
  font-size: 16px;
  text-shadow: #140f45 0 0 12px;

  border-radius: var(--border-radius);
  background-image: var(--company-gradient-vertical);
}

/* слайдер фильтра по цене*/
.slider-price-title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
}

.slider-price-value {
  text-align: center;
}

.slider {
  display: flex;
  position: relative;
  width: 100%;
  height: 20px;

  background-image: linear-gradient(transparent 40%, rgba(var(--slider-color), 0.3) 40%, rgba(var(--slider-color), 0.3) 60%, transparent 60%);
}

.slider-scale {
  position: relative;
  align-self: flex-end;
  height: 4px;
  width: 100%;
  margin: auto;
  margin-left: 0;

  background-color: #ffffff
}

.slider-button {
  display: block;
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
}

.slider-button-min {
  left: 0;
}

.slider-button-max {
  right: 0;
}

.slider-button:hover,
.slider-button:focus-visible,
.slider-button:active {
  outline: 2px solid #ffffff;
  background-color: #534f77;
}

/* фильтр */
.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset-legend {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.present-searching-form-button {
  margin-top: auto;
}

/* слайдер фоток */
.promotion-slider {
  height: 300px;
  overflow: hidden;
  position: relative;

  background-image: var(--company-gradient);
  border-radius: var(--border-radius);
}

.promotion-slider-item {
  height: 100%;
  position: relative;
}

.promotion-slider-photo {
  display: block;
}

.warm-cloth-photo {
  transform: rotate(-10deg) translate(50px, 90px);
}

/* .slider-photo-link {
  display: block;
  position: absolute;
  height: 30px;
  width: 30px;

  border-radius: 50%;
  background-color: rgb(255, 255, 255);

  opacity: 0.6;
  animation: blink 0.7s infinite alternate; */
  /* border: 2px solid #130e44;
} */

/* @keyframes blink {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 0.8;
  }
} */

/*.slider-photo-link:hover {
  animation: none;
  opacity: 1;
} */

/* расположение ссылок на слайдере в самом конце документа */

/* .photo-link-title {
  display: none;
  width: max-content;
  margin-top: 7px;
  margin-left: 35px;


  color: #ffffff;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 0 5px rgba(20, 15, 69, 1), 0 0 10px rgba(20, 15, 69, 0.8), 0 0 15px rgba(20, 15, 69, 0.6);
}

.slider-photo-link:hover .photo-link-title {
  display: block;

} */

.list-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
}

/* FOOTER */
.main-footer {
  display: flex;
  position: relative;
  min-height: 60px;
  padding: 10px var(--container-padding);

  justify-content: start;
  align-items: center;
  gap: 70px;

  background-image: var(--company-gradient);
}

.social {
  display: flex;
  gap: 10px;
}

.social-item-link {
  display: flex;
  height: 30px;
  width: 30px;
  padding: 5px;

  align-items: center;
  justify-content: center;

  border-radius: var(--border-radius);
}

.social-item-link:not(.social-inst-18):hover,
.social-item-link:not(.social-inst-18):focus {
  background-color: rgb(19, 14, 68);
  outline: none;
}

.social-item-link:active {
  opacity: 60%;
}

.social-item-link:not(.social-inst-18):before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    background-color: #ffffff;

    -webkit-mask: var(--social-icon) no-repeat center;
    mask: var(--social-icon) no-repeat center;
    mask-size: contain;
  }

  .social-tg {
    --social-icon: url("../images/icons/icon-telegram.svg");
  }

  .social-inst {
    --social-icon: url("../images/icons/icon-instagram.svg");
  }

  .social-fb {
    --social-icon: url("../images/icons/icon-facebook.svg");
  }

  @keyframes heartbeat {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }

  .social-inst-18 {
    background: url("../images/icons/icon-age-18.png") no-repeat center;
    background-size: 100%;

    transition: 0.3s ease-in;
  }

  .social-inst-18:hover,
  .social-inst-18:focus {
    outline: none;
     animation: heartbeat 1s infinite;
}

/* имя фирмы */
.name-text-footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 60px;
  text-align: center;
}
